body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 20px;
}

.return-button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.return-button i {
    margin-right: 10px;
}

.return-button:hover {
    background-color: #218838;
}

.car-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 tiles per row */
    grid-gap: 20px; /* Gap between tiles */
}

h1 {
    color: #333;
}

.car-tile {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #ccc;
    margin: 10px 0;
}

.car-tile h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.car-tile p {
    margin: 5px 0;
}

.car-tile img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.car-tile input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

.car-tile button {
    padding: 10px 15px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.car-tile button:hover {
    background-color: #0056b3;
}

.card-price {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.add-car-form-container {
    margin-top: 20px;
}

.add-car-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-car-form label {
    font-weight: bold;
    margin-top: 10px;
}

.add-car-form input,
.add-car-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add-car-form button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.add-car-form button:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 1024px) {
    .car-tiles {
        grid-template-columns: repeat(2, 1fr); /* 2 tiles per row */
    }
}

@media (max-width: 768px) {
    .car-tiles {
        grid-template-columns: 1fr; /* 1 tile per row */
    }
}