.car-detail-card {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.card-banner img {
    width: 100%;
    object-fit: contain; /* Ensure the entire image is visible */
    border-radius: 8px;
    max-width: 100%; /* Prevent the image from exceeding its container */
}

.card-content {
    padding: 16px;
}

.card-title-wrapper {
    margin-bottom: 16px;
}
.card-title-wrapper h2 {
    font-size: 40px;
}
.card-title-wrapper data {
    font-size: 20px;
}

.card-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.card-list-item ion-icon {
    margin-right: 8px;
}

.card-price-wrapper {
    margin-top: 16px;
}

.card-price {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.btn {
    margin: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn.fav-btn {
    background-color: #dc3545;
}

.btn:hover {
    opacity: 0.8;
}